.popup__body {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.popup__body.active {
  opacity: 1;
  pointer-events: all;
}

.popup__content {
  margin: 25px;
  border-radius: 12px;
  background-color: #0d0d12;
  transform: scale(0.5);
  transition: 0.4s all;
}

.popup__content.active {
  transform: scale(1);
}
